html{
    font-display: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#question{
  width: 70%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: auto;
  height: 100%;
  box-sizing: border-box;
}
header img {
  margin: 2em;
  margin-left: 2.8em;
  height: 200px;
  width: 200px;
}

header input {
  margin-left: 20px;
  margin-top: 4px;
  width: 80%;
  height: 30px;
  line-height: 50px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 3px;
  padding-left: 10px;
  font-size: 17px;
}
header input:focus {
  border-color: #FF4500;
  box-shadow: 0 0 8px 0 #FF4500;
}

header nav {
display: inline-block;
text-decoration: none;
padding: 5px 15px;
font-size: 0.9em;
font-weight: bold;
color: #222c6a;
text-transform: uppercase;
letter-spacing: 0.15em;
}

/* header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
} */

header nav ul li {
  list-style: none;
  margin: 2em;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1686px) {
  header {
    padding: 0 20px;
    /* width: 25%; */
  }
  header img{
    width: 150px;
    height: 150px;
    margin: 0;
  }
  .menu-toggle {
    display: block;
    float: left;
  }
  header nav {
    position: absolute;
    width: auto;
    height: auto;
    background: #333;
    top: 30%;
    left: -163%;
    transition: 0.5s;
  }
  header nav.active {
    left: -67px;
    width: 219px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 786px) {
/* header {width: 35 
} */

@media (max-width: 383px) {
  header input {
    display: none;
  }
}

.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF4500;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
}